<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale =1.0">
  <title>Sign up</title>
  <th:block th:replace="~{layout :: link-css}"> </th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h3 class="card-title text-center">Sign up</h3>
      <from th:action="@{/register}" th:object="${user}" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">First name</label><span class="text-danger">*</span>
          <input type="text" class="form-control" th:field="*{name}" id="name">
          <span class="text-danger" th:if="${#flields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Email</label>
          <input type="text" class="form-control" th:field="*{email}" id="email">
          <span class="text-danger" th:if="${#flields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label><span class="text-danger">*</span>
          <input type="text" class="form-control" th:field="*{username}" id="username">
          <span class="text-danger" th:if="${#flields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label><span class="text-danger">*</span>
          <input type="password" class="form-control" th:field="*{password}" id="password">
          <span class="text-danger" th:if="${#flields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-info">Sign up</button>
        </div>

      </from>
    </div>
  </div>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>